*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #cfcece8f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    width: 100%;
    height: 400px;
    display: flex;
    align-content: start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    /* position: relative; */
    width: 300px;
    height: 170px;
    background-color: #f7e96ca6;
    border-radius: 20px;
    overflow: hidden;
    transition: 1s;
}
img{
    width: 300px;
    height: 170px;
    cursor: pointer;
    z-index: 1;
}
h2{
    margin-top: 20px;
    text-align: center;
}
.descrip{
    margin-top: 20px;
    margin-left: 10px;
}
.price{
    margin-top: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order{
    margin: 20px 0;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-color: #9fb9ff9f;
    cursor: pointer;
    transition: 0.5s background;
}
.descrip_card{
    z-index: -1;
    /* position: absolute; */
    top: 0;
    left: 0;
    transition: 1s;
}
.order:hover{
    background-color: #9fb9ff;
}
.card:hover{
    height: 420px;
}